* {
  caret-color: #05e6c4;
}

* {
  --color-bg-body: #32025e;
  --color-bg-card: #371063;
  --color-bg-card-selected: #43286e;
  --color-bg-primary: #290b5a;
  --color-bg-secondary: #2d0a5a;
  --color-bg-default: #341762;
  --color-bg-darkened: #1c0943;
  --color-bg-inverse: #fff;
  --color-bg-overlay: rgba(0, 0, 0, 0.7);
  --color-bg-black: #111;
  --color-bg-accent-grey-1: rgba(53, 240, 208, 0.2);
  --color-bg-accent-grey-2: #43286e;
  --color-bg-highlight-1: #35f0d0;
  --color-bg-highlight-2: #35f0d0;
  --color-bg-highlight-3: #401c94;
  --color-bg-highlight-4: #5af5db;
  --color-bg-highlight-5: #6a30d4;
  --color-bg-red: #e61b1b;
  --color-bg-green: #3ef3d4;
  --color-bg-yellow: #ff9303;
  --color-bg-blue: #7289da;
  --color-bg-blue-2: #458fff;
  --color-bg-teal: #0ea3a4;
  --color-bg-purple: #401c94;
  --color-bg-blue900: #1e3a8a;

  --color-text-accent-1: #bbb2ce;
  --color-text-accent-2: #bbb2ce;
  --color-text-accent-3: #9f82d7;
  --color-text-primary: #4c249f;
  --color-text-primary-soft: #6458af;
  --color-text-secondary: #4c249f;
  --color-text-default: #a472f7;
  --color-text-default-soft: #7458df;
  --color-text-inverse: #fff;
  --color-text-match: #111;
  --color-text-black: #111;
  --color-text-highlight-1: #1ef7d6;
  --color-text-highlight-2: #35f0d0;
  --color-text-highlight-3: #55f1d7;
  --color-text-red: #e61b1b;
  --color-text-green: #05e6c4;
  --color-text-yellow: #ffc403;
  --color-text-blue: #7289da;
  --color-text-blue-2: #458fff;
  --color-text-teal: #049c9c;
  --color-text-purple: #401c94;
  --color-text-blue500: #3b82f6;

  --color-border-accent-1: #bbb2ce;
  --color-border-accent-2: #bbb2ce;
  --color-border-accent-3: #4c249f;
  --color-border-accent-4: #341762;
  --color-border-primary: #3c1a79;
  --color-border-card: #341762;
  --color-border-secondary: #4c249f;
  --color-border-default: #4c249f;
  --color-border-inverse: #fff;
  --color-border-highlight-1: #35f0d0;
  --color-border-highlight-2: #35f0d0;
  --color-border-red: #e61b1b;
  --color-border-green: #3ef3d4;
  --color-border-blue: #7289da;
  --color-border-blue-2: #458fff;
  --color-border-transparent: rgba(0, 0, 0, 0);

  --color-slate-100: #f1f5f9;
  --color-slate-900: #0f172a;
  --color-blue-800: #1e40af;
}
